<style>
.circular {
	width: 132px;
	height: 132px;
	border-radius: 66px;
	-webkit-border-radius: 66px;
	-moz-border-radius: 66px;
    background-size: 132px 132px;
	background-repeat: no-repeat;
	}
 .members{
    font-weight: 400;
    font-family: DINPro;
 }   

</style>


<section id="Team" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Team</h2>
                <div class="members">
                    <ul>
                        <li>
                            <div id="member1" class="circular" style="background-image:url(static/img/matt_geek.png);" ><a href="#"><span>Matt Bernhardt</span></a></div>
                        </li>
                        <li>
                            <div id="member2" class="circular" style="background-image:url(static/img/linkedin.jpg);"><a href="#"><span>Effy Zhang</span</a></div>
                        </li>
                        <li>
                            <div id="member3" class="circular" style="background-image:url(static/img/betsy.jpg);"><a href="#"><span>Betsy O'Donovan</span</a></div>
                        </li>
                        <li>
                            <div id="member4" class="circular" style="background-image:url(static/img/weirich.jpg);"><a href="#"><span>Emily Weirich</span</a></div>
                        </li>
                        <li>
                            <div id="member5" class="circular" style="background-image:url(static/img/passportpic.jpg);"><a href="#"><span>Ben Swanson</span</a></div>
                        </li>
                    </ul>
                </div>


                

               <!--  <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </section>
