<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datalore</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">

       <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <!-- Navigation -->
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="col-lg-8 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    Hacking Open Access<br>
                    <p><span>MIT's cache of scholarship, dirty metadata, <br>& The hidden ecosystem of a modern university</span></p>
                </a>
            </div>

            
            

            <!-- /.navbar-collapse -->
        </div>
        <div class="container"  id="bar"></div>
        <!-- /.container -->
    </nav>
        <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>DSPACE</h2>
                <p>In 2009, the Massachusetts Institute of Technology’s faculty unanimously voted to collect all work published at the institute in an open access repository.</p>
                <p>It was the first time  in the 900-year history of university libraries that an entire university had agreed to share all of its scholarship with all comers.</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-lg-3">
                    <div class="fact">
                        <p><span>14,981</span></p>
                        <p>Items</p>
                    </div>   
                </div>
                <div class="col-lg-3">
                    <div class="fact">
                        <p><span>11,101</span></p>
                        <p>MIT Authors</p>
                    </div>   
                </div>
                <div class="col-lg-3">
                    <div class="fact">
                        <p><span>179</span></p>
                        <p>Research Groups</p>
                    </div>   
                </div>
                <div class="col-lg-3">
                    <div class="fact">
                        <p><span>21</span></p>
                        <p>Yrs of Research</p>
                    </div>   
                </div>
                

            </div>
        </div>
    </section>

    <section id="about2" class="container content-section text-center">
        <div class="row">
        <div class="container">
            <div class="col-lg-6">
                <p>MIT's open access policy eliminated barriers between the public and the university's creative work, but it had another, unintended effect: For the first time, MIT had data to track scholarly activity on campus.</p>
            </div>
            <div class="col-lg-6">
                <p>The metadata – information about who publishes, with whom, how often, where, and with which rights – gives us a new perspective on the ecosystem of a modern university. We’ll show you:</p>
            </div>
        </div>
            
            <div class="row">
            <div class="container">
                <div class="col-lg-3">
                    <div class="story pink">
                        <p>Three visual stories from the data</p>
                    </div>   
                </div>
                <div class="col-lg-3">
                    <div class="story">
                        <p>The ecosystem of scholarship</p>
                    </div>   
                </div>
                <div class="col-lg-3 pink">
                    <div class="story">
                        <p>A list of stories the data could tell in the future</p>
                    </div>   
                </div>

                <div class="col-lg-3">
                    <div class="story">
                        <p>Ways to improve MIT's OA data collection practices</p>
                    </div>   
                </div>
            </div>

                

            </div>
        </div>
    </section>

            <!-- Chart1 Section -->
    <section class=" chart chart-section">
        <div class="row">
            <div class="container" id="graph1" >
            <div class="row">
                <div class="col-lg-6">
                    <h2>
                        How are attitudes toward open access changing over time?

                    </h2>
                    <p>
                        MIT's open access database includes a range of rights and permissions for users. Some scholars share their work with no strings or requirements attached. Others add their work to the OA database but limit how others can use or remix their scholarship.
                    </p>
                </div>
                <div class="col-lg-6">
                <p>We wanted to see whether different departments had different sharing cultures, and we were also interested in whether attitudes toward openness and sharing changed over time. Ben Swanson and Effy Zhang built an interactive hive visualization with three axes: rights granted, departments, and time. Mousing over different axes lets users visualize which departments are the most open, and how rights in the entire OA database have changed over time.
                </p>
                    
                </div>
            </div>
                <div class="row">
                    <div id="chart_1_info"></div>
                    <div id="chart_1"></div>
                </div>
            </div>
        </div>
    </section>

                <!-- Chart2 Section -->
    <section  class="chart chart-section">
        <div class="row">
            <div class="container" id="graph2">
                <div class="row">
                    <div class="col-lg-6">
                            <h2>Which departments are the best collaborators?
                            </h2>
                            <p>
                                The OA metadata includes information about which departments, labs and research centers at MIT contributed to a paper. 
                            </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            Matt Bernhardt's chord diagram illustrates which of MIT's departments have the most collaborations, and also reveals whether their interdisciplinary research is across a wide range of departments, or is focused on narrow but deep working relationships. (It's sorted based on the date of first entry in the OA database.) 

                        </p>
                    </div>
                </div>
                <div class="row" >
                    <div id="chart_2">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="chart chart-section">
        <div class="row">
            <div class="container" id="graph3">
                <div class="row">
                    <div class="col-lg-6">
                            <h2>Does collaboration correlate to federal funding?
                            </h2>
                            <p>
                                Once we were able to visualize interdisciplinary collaborations, we wondered whether it had an benefits.
                            </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            While causation was beyond the scope of a three-day hackathon, we pulled five years of grant funding data from the National Institutes of Health to see whether there were any correllations between collaboration and that set of funding. (There weren't.)

                        </p>
                    </div>
                </div>
                <div class="row" >
                    <div id="chart_3">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="chart chart-section">
        <div class="row">
            <div class="container" id="graph4" >
                <div class="row">
                    <div class="col-lg-6">
                            <h2>Other questions worth exploring:
                            </h2>
                            <p>
                                 Does the gender ratio of a department's faculty correllate with interdisciplinary collaboration?</p>
                                 <p>• What's the culture of co-authorship at MIT? What are least, most and median numbers for co-authorship?</p>
                                 <p>
                                 • Does the size of a research center's graduate student pool correllate to faculty publishing?
                                     
                                 </p>
                    </div>
                </div>

        </div>
    </section>v
<!--     <section class="chart chart-section">
        <div class="row">
            <div class="container" id="section3" >
                <div class="row"id="space1">
                    <div class="col-lg-6">
                            <h2>What else is possible? Our findings and recommendations
                            </h2>
                            <p>
                                Here's the thing about MIT's Open Access database and the way it's collected: the metadata is messy. 

                            </p>
                            <p>When a scholar, librarian, or publisher adds a paper to the repository, she is asked to fill out some basic information -- which varies depending on how she approaches the database. Author. Title. Publisher. Publication date. A description of the file. And more.</p>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-6" id="data_entry">
                    </div>
                    
                        
                    </div>

                </div>
                <div class="row" id="space2">
                    <div class="col-lg-6" id="data_white_board">    
                    </div>
                    
                    <div class="col-lg-6">
                            <p>A cataloguer could fill out 86 pieces of metadata for each paper that's added to the repository, with the option to add more fields and information -- but none of the fields are required. 
                            </p>
                            <p>When we began work with the data, the Open Access repository included 14,981 papers. We found that only seven pieces of metadata existed for all 14,981 entries.
                            </p>
                        
                    </div>
                    
                </div>
                <div class="row" id="space3">
                    <div class="col-lg-6">
                            <p>Incomplete data makes it difficult, sometimes impossible, to have confidence when using a database. Matt Bernhardt, the web developer who scraped the OA data for our team, scrubbed the data so that we could share the sets that were complete. But we would prefer to have had more.
                            </p>
                    </div>
                    <div class="col-lg-6" id="Excel">
                        
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-6">
                        <p>In addition to incomplete data, there are inconsistent data. An author could be identified as "Smith, Jane B." in one document, and "Smith, Jane Baker" in another -- making one author appear to be two, and making two Jane Smiths appear to have a single credit each, rather than reflecting Jane Smith's real productivity as a scholar.</p>
                        <p>And let's not forget typos. Jane Smith or Jan Smith? Yikes.</p>
                    </div>
                    <div class="col-lg-6">
                    <p> We propose a few ways to improve the Open Access database's metadata:
                        For future additions, employ:</p>
                        <p>• Mandatory fields: 
                            A few basic pieces of metadata should be required for each item entered into the OA database: Author(s), Title, Abstract, Rights and permissions
                            • Controlled vocabulary for fields like MIT authors, MIT departments, rights
                            • Consistent format for dates</p>
                       
                    </div>
                </div>


        </div>
                
    </section>
 -->
    {% include 'aboutus.html' %}
    <!-- Our Team Section -->
    




    <!-- Footer -->
    <footer>
        <div class="container text-center">
          <p>Designed with love :)</p>
        </div>
    </footer>

        <!-- jQuery -->
    <script src="static/js/jquery.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.hive.v0.min.js"></script>
    <script src="static/js/mainviz.js"></script>
    <script src="static/js/academic_department_chord.js"></script>

  </body>
</html>